
<div class="order">
  <div class="order-inner vertical-middle">
    <div class="order-img show">
      <img src="/static/{{navigation_img}}" alt="" />
      <!-- <input type="checkbox" name="" id=""> -->
    </div>
    <div class="order-detail">
      <p>
        {{name}}
      </p>
      <p class="">
        <span>￥{{price}}</span>
      </p>
    </div>
    <div class="close">
      <img src="/static/img/close.png" alt="">
    </div>
  </div>
</div>

{{#each properties}}
<div class="choose_type choose_property">
  <div class="choose_title">
    {{name}}
  </div>
  <div class="choose_items" data-name="{{name}}">
    {{#each type}}
    {{#compare @index 0}}
    <div class="choose_item choose">{{this}}</div>
    {{else}}
    <div class="choose_item">{{this}}</div>
    {{/compare}}
    <!-- <div class="choose_item">灰色</div> -->
    {{/each}}
  </div>
</div>
{{/each}}
<div class="choose_type choose_number">
  <div class="choose_title">
    购买数量
  </div>
  <div class="choose_items">
    <div class="operation minus">
      -
    </div>
    <div class="number_show">
      {{unit}}
    </div>
    <div class="operation add">
      +
    </div>
  </div>
</div>
<a class="order-footer order-detail-footer">
  确定
</a>
